<h1>New Task</h1>
<br>
<%# called form_for helper %>
<%= form_for @task, :html => {:class => 'd-flex flex-column mb-3', data: { label: 'form-label' }} do |t| %>
  <div class="form-floating">
  <%= t.label :title, class:"floatingTextarea" %>
  <%= t.text_field :title, class:"form-control" %>
  </div>
  <div class="form-floating mt-3">
  <%= t.label :details, class:"floatingTextarea"  %>
  <%= t.text_field :details, class:"form-control" %>
  </div>
  <%= t.label :completed %>
  <div class="">
  <%= t.check_box :completed %>
  </div>
  <div class="pt-3">
  <%= t.submit("Create Task") %>
  </div>
<% end %>
<%#a partial referencing possible%>
<%# <%= render "form", task: @task %>
